body {
    background: #666;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.rojo {
    color: red;
}

.amarillo {
    color: yellow;
}

.naranja {
    color: orange;
}

.azulhex {
    color: #0000ff;
}

.violeta